<div class="header">
    <ul class="breadCrumbs">
        <li><a href="" title="Home" class="animation">Logo</a></li>
        <li><a href="" title="Portfolio" class="animation">Home</a></li>
        <li><a href="" title="Websites" class="animation">App name</a></li>
        <div class="clear"></div>
      </ul>
    <div class="btn-group-right">
        <i class="fas fa-bell "></i>
        <div class="img-box">
            <img src="../../assets/images/user-img.png" alt="">
        </div>
    </div>
</div>
