
//Colors
$white: #fff;
$darkgrey: #707070;
$mediumgrey: #808080;
$grey: #dfdfdf;
$lightgrey: #ebebeb;
$red: #EF4B46;
$blue: dodgerblue;
$yellow: #EFB543;
$purple: #75308e;
$blue: #30638e;
$green: #008775;

$icon-hover-color: #959595;
$grey-bg-color: #dedede;
$dashboard-icon-color: #606060;
$header-darkgreen: #008775;
$header-lightgreen: #78BFB6;
